.contenaire-spinner {
    padding: 5px;
    display: inline-flex;

    .spinner {
        border-radius: 50%;
        box-sizing: border-box;
        animation: spin 1s linear infinite;

        &.large {
            @include set-size(80px, 80px);
            border: 10px solid #ccc;
            border-top: 10px solid #00bc77;
        }

        &.medium {
            @include set-size(40px, 40px);
            border: 6px solid #ccc;
            border-top: 6px solid #00bc77;
        }

        &.small {
            @include set-size(12px, 12px);
            border: 2px solid #ccc;
            border-top: 2px solid #00bc77;

        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}